.upload {
  text-align: center;
  border: 2px gray solid;
  cursor: pointer;
  padding: 20%;
}

.uploadFormSymbol {
  fill: gray;
}

.wrongFileError {
  color: red;
  font-size: 20px;
}

.wrongNameError {
  color: red;
  font-size: 20px;
}