.App{
  background-color: #282c34;
  color: white;
  min-height: 100vh;

}

.App-content   {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5em;
  display: flex;
  flex-direction: column;
}

input:focus{
  outline: none;
}

.App-Title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 1em;
}
